
.body-container {
  margin: 0;
  height: 100vh;
  display: grid;
  align-items: center;
}

.login-container {
  background-color: var(--primary-red);
  display: flex;
  margin: auto;
  max-width: 1000px;
  width: 95%;
  height: 70%;
  border-radius: 2%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.left-side {
  background-color: var(--white);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 40px;
  margin: 15px;
}

.right-side {
  flex: 1.2;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  color: var(--text-main);
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
}

.input-group {
  margin-bottom: 20px;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 8px;
  color: var(--text-main);
  font-size: 14px;
}

.email-input-wrapper,
.password-input-wrapper {
  display: flex;
  background-color: var(--light-red);
  border-radius: 5px;
  overflow: hidden;
}

input {
  flex: 1;
  padding: 12px 15px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
}

.dominio {
  background-color: var(--white);
  padding: 12px 15px;
  color: var(--text-main);
  border-left: 1px solid #dddddd;
  font-size: 14px;
}

.password-input-wrapper {
  position: relative;
}

.toggle-password {
  background: var(--white);
  border: none;
  padding: 0 15px;
  cursor: pointer;
  border-left: 1px solid #dddddd;
  display: flex;
  align-items: center;
}

.toggle-password img {
  width: 20px;
  opacity: 0.7;
}

.btn-login {
  width: 100%;
  padding: 14px;
  background-color: var(--text-main);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-login:hover {
  background-color: var(--text-secondary);
}
