<div class="tajamar-container">
  <section class="filter-container">
    <div class="filter-group">
      <label for="evento">Filtrar por evento:</label>
      <div class="select-wrapper">
        <select id="evento" class="custom-select">
          <option value="" selected disabled>Selecciona una fecha</option>
          @for (evento of this.eventos; track $index) {
          <option value="{{ evento.idEvento }}">
            {{ evento.fechaEvento | date : "EEEE, d 'de' MMMM 'de' y" }}
          </option>
          }
        </select>
      </div>
    </div>

    <div class="filter-group">
      <label for="deporte">Filtrar por deporte:</label>
      <div class="select-wrapper">
        <select id="deporte" class="custom-select">
          <option value="" selected disabled>Selecciona una actividad</option>
          @for (actividad of this.actividades; track $index) {
          <option value="{{ actividad.idActividad }}">{{ actividad.nombre }}</option>
          }
        </select>
      </div>
    </div>
  </section>

  <hr class="divider" />

  <section class="results-list">
    <div class="accordion" id="accordionExample">
      @for (resultado of this.resultados; track $index) {
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            {{ resultado.idEquipoLocal | nombreEquipo | async }} {{ resultado.puntosLocal }} -
            {{ resultado.puntosVisitante }} {{ resultado.idEquipoVisitante | nombreEquipo | async }}
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <div class="row">
              <div class="col-md-6 border-end">
                @for (alumno of (resultado.idEquipoLocal | alumnosEquipo | async); track
                alumno.idAlumno) {
                <p class="mb-1 text-start w-100">{{ alumno.usuario }}</p>
                }
              </div>

              <div class="col-md-6">
                @for (alumno of (resultado.idEquipoVisitante | alumnosEquipo | async); track
                alumno.idAlumno) {
                <p class="mb-1 text-end w-100">{{ alumno.usuario }}</p>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </section>
</div>
